# Project
sessions/

# Gradle build files
build/
.gradle/
.kotlin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# OS
.DS_Store

# Examples
examples/**/package-lock.json
examples/**/node_modules/
